<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>	
        <caching>
            <profiles>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".php" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" varyByQueryString="*" />&gt;
            </profiles>
        </caching>
		 <staticContent>
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
    </system.webServer>
	<system.web>
		<customErrors mode="Off" />
	</system.web>
	 <appSettings>
      <add key="LDAPCONF" value="c:\openldap\sysconf\ldap.conf" />
        <add key="TLS_CACERTDIR" value="c:\openldap\sysconf\" />
        <add key="TLS_CACERTFILE" value="c:\openldap\sysconf\webcert.pem" />
    </appSettings>
</configuration>
