<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".php" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" varyByQueryString="*" />&gt;
            </profiles>
        </caching>
    </system.webServer>
</configuration>
